.round-button {
    display: inline-block;
    width: 32px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: rgb(244, 152, 156);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 8px !important;

  }
  
  .round-button:hover {
    background-color: rgb(241, 184, 187);;
  }
  